.logo-fix{
    height: 75px;
    width: 95px;
    vertical-align: bottom;
    margin-right: 0.5rem;
    align-items: center;
    margin-bottom: 2000px;
}
.iti {
    width: 100%;
}
.card-body{
    padding-top: 30px;
}
.cta-btn {
    background: rgb(195,253,247);
background: linear-gradient(90deg, rgba(195,253,247,1) 35%, rgba(167,166,251,1) 100%);
    border: 0px solid none; /* Set a 1px solid border with a transparent color */
    border-radius: 6px; /* Adjust border radius to your preference */
    color:#293A51;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px; /* Adjust padding to your preference */
    /* Other button styling */
}
.cta-btn:hover {
    border-color: transparent; /* Set border color to transparent on hover */
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-select select {
    display: block;
    width: 100%;
    height: calc(2.875rem + 2px); /* Match the height of form-control-lg */
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.3rem;
    appearance: none;
    color: #8b97a6;
    opacity: 1
}

.custom-select::after {
    content: '\25BC'; /* Unicode character for downward arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #495057;
}